/* .container div{
    background-color: blueviolet;
    height: 50px;
    width: 50px;
    border: solid 2px blue;
    box-sizing: border-box;
} */

.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.box {
    flex: 0 0 1;
    background-color: blueviolet;
    /* height: 50px;
    width: 50px; */
    border: solid 1px blue;
    box-sizing: border-box;
}

/* .promptBtn{
    margin: auto;
} */